# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
Pods/
.DS_Store
*.class

# Mobile Tools for Java (J2ME)
 .mtj.tmp/
#
# # Package Files #
 *.jar
 *.war
 *.ear
#
# # virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
 hs_err_pid*
 statusserver/target/*
 statusserver/.classpath
 statusserver/.project
 statusserver/.settings/*
